<div class="ui-g ui-fluid">
  <div class="card card-w-title">
    <form [formGroup]="extratoForm">
      <div class="ui-g-12" formGroupName="id">
        <div class="ui-g-12">
          <h1>Lançar Novo Extrato</h1>
        </div>
        <div class="ui-g-2">
          <p-dropdown
            [options]="[
              { label: 'Selecione', value: null },
              { label: 'Santander', value: '33' },
              { label: 'Caixa', value: null }
            ]"
            formControlName="tpBanco"
          >
          </p-dropdown>
          <label>Banco</label>
        </div>
        <div class="ui-g-2">
          <p-calendar
            [locale]="calendarLocale"
            view="month"
            dateFormat="M/yy"
            formControlName="mesAno"
            [yearNavigator]="true"
            yearRange="1900:2020"
          ></p-calendar>
          <label>Mês do Extrato</label>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-6">
            <p-fileUpload
              #arquivo
              (onSelect)="aoSelecionarOFX($event)"
              chooseLabel="Adicionar Arquivo OFX"
              cancelLabel="Remover Arquivo"
              mode="basic"
              customUpload="false"
              fileLimit="1"
              showUploadButton="false"
            ></p-fileUpload>
          </div>
          <div class="ui-g-6">
            <button
              pButton
              (click)="limparArquivo(arquivo)"
              icon="ui-icon-minus"
            ></button>
          </div>
          <div class="ui-g-4">
            <button
              pButton
              icon="ui-icon-add"
              label="Salvar"
              [disabled]="extratoForm.invalid"
              (click)="salvar()"
            ></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
