
      {{ extratoForm.value | json }}
    <div class="ui-g ui-fluid">
      <form [formGroup]="extratoForm">
        <div class="ui-g-12">
          <div>
            <h1>Lançar Novo Extrato</h1>
          </div>
          <div formGroupName="id">
            <div class="ui-g-12">
              <span class="ui-float-label">
                <input pInputNumber formControlName="tpBanco" />
                <label>Banco</label>
              </span>
            </div>
            <div class="ui-g-12">
              <span class="ui-float-label">
                <p-calendar
                  [locale]="calendarLocale"
                  formControlName="mesAno"
                ></p-calendar>
                <label>Data de Lançamento</label>
              </span>
            </div>
          </div>
          <div class="ui-g-12">
            <span class="ui-float-label">
              <p-fileUpload (onSelect)="aoSelecionarOFX($event)" chooseLabel="Adicionar Arquivo OFX" mode="basic" customUpload="false" showUploadButton="false" showCancelButton="false"></p-fileUpload>
              <!-- <input pInputText formControlName="arquivoBase64" /> -->
            </span>
          </div>
          <div class="ui-g-4">
            <button
              pButton
              icon="ui-icon-add"
              label="Salvar"
              [disabled]="extratoForm.invalid"
              (click)="salvar()"
            ></button>
          </div>
        </div>
      </form>
    </div>
