<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>Extratos Bacários</h1>
      <div class="ui-g">
        <!-- <div class="ui-g-12 ui-md-12 ui-fluid">
          <span class="md-inputfield" style="margin-top: 5px;">
            <input pInputText type="text" class="ui-inputtext" name="descricao">
            <label>Descrição da Receita</label>
          </span>
        </div> -->
        <div class="ui-g-12">
          <!-- <div class="ui-g-5">
            <button pButton label="Pesquisar" icon="ui-icon-search"></button>
          </div> -->
          <div class="ui-g-5">
            <button pButton label="Cadastrar" [routerLink]="['/extratos/new']" icon="ui-icon-add"></button>
          </div>
          <safi-datatable type="memory" [value]="getExtratos()" disableDelete="false" disableEdit="true" disableView="true">
            <p-column header="Data" field="id">
              <ng-template let-data="rowData" pTemplate="body">
                {{ data['id']?.mesAno | date: 'MM/yyyy' }}
              </ng-template>
            </p-column>
            <p-column header="Banco" field="id">
              <ng-template let-data="rowData" pTemplate="body">
                {{ data['id']?.tpBanco | tpBanco  }}
              </ng-template>
            </p-column>
            <!-- <p-column header="Data de Inclusão"  field="dataInclusao">
              <ng-template let-data="rowData" pTemplate="body">
                {{ data?.dataInclusao |  date: 'dd/MM/yyyy' }}
              </ng-template>
            </p-column> -->
          </safi-datatable>
        </div>
      </div>
    </div>
  </div>
</div>



